

QWidget
{
    color: #3c3c3c;
    background-color: #e0e0e0;
}

QProgressBar
{

    text-align: center;

}

QTextEdit
{

    background-color: #f1f1f1;

}

QAbstractItemView
{
    background-color: #f1f1f1;
}


QLineEdit
{
    background-color: #f1f1f1;
    padding: 1px;
    border-radius: 2;
}

QCheckBox::indicator{
    color: #b1b1b1;
    background-color: #f1f1f1;
    border: 1px solid #b1b1b1;
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:checked
{
    image:url(checkbox|placeholder);
}


QCheckBox::indicator:hover
{
    border: 1px solid #ffaa00;
}

QMenu
{
    border: 1px solid #000;
}

QMenu::item
{
    padding: 2px 20px 2px 20px;
}

QMenu::item:selected
{
    color: #000000;
}

